.texto_h2 {
    font-size:21px;
    text-align: center;
    color: rgb(250, 250, 250);
    font-family: Lorem ipsum dolor sit amet;
    
}

.navbar-brand {
    font-family:  Lorem ipsum dolor sit amet;
}
.caixa_txt {
    background-color: rgb(31, 98, 199);
   
    
}